<section class="movie-details">
  <div class="image">
    <%= image_tag @movie.image_file_name %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <p><%= @movie.description %></p>

    <table>
      <tr>
        <th>Director: <%= @movie.director %></th>
      </tr>
      <tr>
        <th>Duration: <%= @movie.duration %></th>
      </tr>
      <tr>
        <th>Total Gross: <%= total_gross(@movie) %></th>
      </tr>
      <tr>
        <th>Release Year: <%= release_year(@movie) %></th>
      </tr>
      <tr>
        <th>Rating: <%= @movie.rating %></th>
      </tr>
    </table>

    <%= link_to "Edit Movie", edit_movie_path, class: "btn btn-primary" %>

    <%= link_to "Delete Movie", movie_path, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this movie?" } %>
  </div>
</section>