<% @movies.each do |movie| %>
  <article>
    <%= image_tag(movie.image_file_name) %>

    <hgroup>
      <h2><%= link_to(movie.title, movie) %></h2>
      <p><%= total_gross(movie) %></p>
    </hgroup>
    <p><%= movie.description.truncate(150, separator: ' ') %></p>
  </article>
<% end %>

<hr/>

<% if current_user_admin? %>
  <%= link_to("Create Movie", new_movie_path, role: "button") %>
<% end %>
