<section>
  <article>
    <%= image_tag(@movie.image_file_name) %>

    <hgroup>
      <h1><%= @movie.title %></h1>
      <p><%= year_released(@movie) %></p>
    </hgroup>
    <p><%= @movie.description %></p>

    <%= average_stars(@movie) %>

    <table>
      <tbody>
        <tr>
          <th>Total Gross:</th>
          <td><%= total_gross(@movie) %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to("Write a review", new_movie_review_path(@movie), role: "button") %>
    <%= link_to("Reviews", movie_reviews_path(@movie), role: "button") %>
    <%= link_to("Edit", edit_movie_path, role: "button", class: "secondary") %>
    <%= link_to("Delete", @movie, role: "button", class: "secondary", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?",
    }) %>
  </article>
</section>
