<h2>Reviews for <%= @movie.title %></h2>
<ul>
  <% @reviews.each do |r| %>
    <li><%= r.stars %> stars by <%= link_to(r.user.name, r.user) %>: <%= r.comment %> (<%= "about #{time_ago_in_words(r.created_at)} ago" %>)</li>
  <% end %>
</ul>
