<section>
  <hgroup>
    <h1>Create a Review</h1>
    <p>Write a new review for <%= @movie.title %> with the form below.</p>
  </hgroup>

  <article>
    <%= form_with(model: [@movie, @review]) do |form| %>

      <fieldset>
        <%= render("shared/form_field_error", key: :comment, errors: @review.errors) do |is_invalid| %>
          <%= form.label(:comment) %>
          <%= form.text_area(:comment, rows: 3, "aria-invalid": is_invalid) %>
        <% end %>

        <%= render("shared/form_field_error", key: :stars, errors: @review.errors) do |is_invalid| %>
          <%= form.label(:stars) %>
          <%= form.select(:stars, [1,2,3,4,5], { prompt: "Pick one" }, { "aria-invalid": is_invalid }) %>
        <% end %>
      </fieldset>

      <%= form.submit("#{@review.new_record? ? 'Create' : 'Update'} Review") %>
    <% end %>
  </article>
</section>
